@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cardo:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", "Arial", "sans-serif";
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
}