@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cardo:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", "Arial", "sans-serif";
}

* {
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
}

.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #ddd;
  transform-origin: bottom;
}

.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #ddd;
  transform-origin: top;
}